* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
    height: -webkit-fill-available;
}

body {
    height: 100vh;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 3rem;
    margin: 0.5rem 0;
}

h2 {
    font-size: 1.2rem;
    font-weight: 400;
}

a {
    text-decoration: none;
    font-weight: 800;
    color: black;
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
}

.logo {
    max-height: 4rem;
}
 .icon {
    height: 1.2rem;
 }

.top,
.mid,
.bot {
    padding: 2rem;
}

.mid,
.bot {
    align-self: flex-start;
}

.top {
    align-self: flex-end;
}



.big-container,
.small-container {
    display: flex;
    gap: 0.5rem;
}

.big-container {
    flex-direction: column;
    margin-bottom: 0.5rem;

}

.small-container {
    justify-content: space-between;
}


.custom-button {
    display: flex;
    align-items: center;
    padding: 0;
    background: white;
    border: 2px solid black;
    outline: none;
    border-radius: 0.5rem;
    overflow: hidden;
    font-size: 1rem;
}

.custom-button:hover {
    background: gray;
}

.custom-button:active {
    background-color: red;
}

.button__text,
.button__icon {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0.5rem 1rem;
}

.small-container .button__icon {
    padding: 0.5rem;
}

.small-container .custom-button {
    border-radius: 100%;
}